<div class="card text-center">
    <div class="card-header">
        Livraison N°:{{livraison.idLivraison}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{livraison.commande.factures.user.prenom}} {{livraison.commande.factures.user.nom}}</h5>
        <p class="card-text">La facture N° {{livraison.commande.factures.idFacture}} avec le montant <strong>{{livraison.commande.factures.montantFacture}}</strong> DT n'a pas encore délivré</p>
        <a href="#" class="btn btn-primary" (click)="updateNotif()">Livré cette Commande</a>
    </div>
    <div class="card-footer text-muted">
        <h6> Facture commandé en :</h6>
        {{livraison.commande.dateCommande | date: 'yyyy/MM/dd'}}
    </div>
</div>