<tr class="btn-reveal-trigger">
    <td class="align-middle" style="width: 28px;">
        <div class="form-check fs-0 mb-0 d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="checkbox-0" data-bulk-select-row="data-bulk-select-row" />
        </div>
    </td>
    <td class="order py-2 align-middle white-space-nowrap">
        <a href="../../../app/e-commerce/orders/order-details.html">
            <strong>#{{cmd.idCommande}}</strong></a>
        by
        <strong>{{cmd.factures.user.nom}}</strong><br />
        <a href="mailto:ricky@example.com">{{cmd.factures.user.email}}</a>
    </td>
    <td class="date py-2 align-middle">{{ cmd.dateCommande | date:'dd/MM/yyyy'}}</td>
    <div *ngFor="let livraison of livraisons">
        <div *ngIf="livraison.commande.idCommande == cmd.idCommande">
            <td class="address py-2 align-middle white-space-nowrap">{{livraison.adressse}}
                <p class="mb-0 text-500">Via Flat Rate</p>
            </td>
        </div>
        <div *ngIf="!(livraison.commande.idCommande == cmd.idCommande)">
            <td class="address py-2 align-middle white-space-nowrap">pas d'adresse pour cette commande
                <p class="mb-0 text-500">Via Flat Rate</p>
            </td>
        </div>
    </div>
    <td class="status py-2 align-middle text-center fs-0 white-space-nowrap">
                        <span class="badge badge rounded-pill d-block badge-soft-success">Completed
                            <span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span>
                        </span>
    </td>
    <td class="amount py-2 align-middle text-end fs-0 fw-medium">{{cmd.factures.montantFacture}} DT</td>
</tr>
