
                    <div class="container">
                      <div>
                        <app-add-stock *ngIf="displayform" (addEvent)="addItem($event)" ></app-add-stock>
                      </div>
                      <div class="card mb-3">
                        <div class="card-header">
                          <div class="row flex-between-end">
                            <div class="col-auto ms-auto">
                              <div class="card-header border-bottom">
                                <div class="row flex-between-end">
                                  <div class="col-auto ms-auto">
                                    <div class="nav nav-pills nav-pills-falcon flex-grow-1 mt-2" role="tablist">
                                        <button  class="btn btn-outline-primary pull-right" (click)="displayFormTemplate()">add stock</button>
                                      <input type="text" class="form-control col-sm" [(ngModel)]="inputSearch" (ngModelChange)="searchStock()" placeholder="Rechercher.."/>
                                      <button class="btn btn-sm"  type="button" role="tab"  >Rechercher</button>
                                    </div>
                                    
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      <table mdbTable #tableEl="mdbTable" class="z-depth-1">
                        <thead>
                        <tr>
                          <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let stock of listStocks; let i = index">
                          <th scope="row" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{stock.idStock}}</th>
                          <th scope="row" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{stock.libelleStock}}</th>
                          <th scope="row" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{stock.qte}}</th>
                          <th scope="row" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{stock.qteMin}}</th>
                        </tr>
                        </tbody>
                        <tfoot class="grey lighten-5 w-100">
                        <tr>
                          <td colspan="4">
                            <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
                          </td>
                        </tr>
                        </tfoot>
                      </table>
                    </div>