<div class="card mb-3">
    <div class="card">
        <div class="card-header">
            <div class="row flex-between-center">
                <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                    <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Bills</h5>
                </div>
                <div class="col-8 col-sm-auto text-end ps-2">

                    <div id="table-customers-replace-element">



                        <button class="btn btn-outline-info btn-sm" type="button">
                            <svg
                                    class="svg-inline--fa fa-plus fa-w-14" data-fa-transform="shrink-3 down-2"
                                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""
                                    style="transform-origin: 0.4375em 0.625em;">
                                <g transform="translate(224 256)">
                                    <g transform="translate(0, 64)  scale(0.8125, 0.8125)  rotate(0 0 0)">
                                        <path fill="currentColor"
                                              d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
                                              transform="translate(-224 -256)"></path>
                                    </g>
                                </g>
                            </svg>
                            <!-- <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span> Font Awesome fontawesome.com --><span
                                class="d-none d-sm-inline-block ms-1" data-bs-toggle="modal"
                                data-bs-target="#add-facture" (click)="showForm()">New Bills</span></button>


                        <div class="modal fade" id="add-facture" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
                                <div class="modal-content position-relative">
                                    <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
                                        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body p-0">
                                        <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
                                            <h4 class="mb-1" id="modalExampleDemoLabel">Add a new bill </h4>
                                        </div>
                                        <div class="p-4 pb-0">
                                            <app-add-facture (addEvent)="save($event)"
                                                             [facture]="Inputfacture"></app-add-facture>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        &nbsp;
                        <button class="btn btn-outline-info btn-sm" type="button"(click)="exportexcel()">
                            <svg
                                    class="svg-inline--fa fa-external-link-alt fa-w-16"
                                    data-fa-transform="shrink-3 down-2"
                                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt"
                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""
                                    style="transform-origin: 0.5em 0.625em;" >
                                <g transform="translate(256 256)">
                                    <g transform="translate(0, 64)  scale(0.8125, 0.8125)  rotate(0 0 0)">
                                        <path fill="currentColor"
                                              d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"
                                              transform="translate(-256 -256)"></path>
                                    </g>
                                </g>
                            </svg>
                            <!-- <span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span> Font Awesome fontawesome.com --><span
                                class="d-none d-sm-inline-block ms-1">Export Excel</span></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body p-0 overflow-hidden">

            <div class="row g-0">
                <div class="table-responsive scrollbar" id="excel-table">
                    <table class="table table-bordered ">
                        <thead class="table-blue">
                        <tr>
                            <th scope="col">Montant Remise</th>
                            <th scope="col">Montant Facture</th>
                            <th scope="col">Date création</th>
                            <th scope="col">Active</th>
                            <th class="text-end" scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let facture of factures ">
                        <tr>
                            <td>{{facture.montantRemise}}</td>
                            <td>{{facture.montantFacture}}</td>
                            <td>{{facture.dateFacture}}</td>
                            <td>{{facture.active}}</td>
                            <td class="text-end">
                                <div>
                                    <button class="btn p-0" type="button" data-bs-toggle="modal"
                                            data-bs-target="#error-modal">
                                        <span class="fas fa-edit me-1" data-fa-transform="shrink-3"></span>
                                    </button>
                                    <button class="btn p-0 ms-2" type="button" data-bs-toggle="tooltip"
                                            data-bs-placement="bottom" title="Delete" (click)="delete(facture)"><span
                                            class="text-500 fas fa-trash-alt"></span></button>
                                </div>
                                <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document"
                                         style="max-width: 500px">
                                        <div class="modal-content position-relative">
                                            <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
                                                <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
                                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body p-0">
                                                <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
                                                    <h4 class="mb-1">Update </h4>
                                                </div>
                                                <div class="p-4 pb-0">
                                                <form class="col g-3 needs-validation" #f="ngForm">
                                                    <div class="form-floating mb-3">
                                                        <select class="form-select" id="floatingSelect" name="active" aria-label="Floating label select example" #ncat="ngModel" required
                                                                [(ngModel)]="facture.active">
                                                            <option value="true">true</option>
                                                            <option value="false">false</option>
                                                        </select>
                                                        <label for="floatingSelect">Active</label>
                                                    </div>
                                                    <div class="font-alert text-danger mb-3" *ngIf="ncat.touched&&ncat.invalid">
                                                        <div *ngIf="ncat.hasError('required')">Active is required</div>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" id="Input" name="dateFacture" type="date"
                                                               #nprix="ngModel" required [(ngModel)]="facture.dateFacture" />
                                                        <label for="Input">Date</label>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" id="m" name="montantFacture" type="text" placeholder="code" #ncode="ngModel" required
                                                               [(ngModel)]="facture.montantFacture" />
                                                        <label for="m">Bill amount*:</label>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" id="floatingInput" name="montantRemise" type="text" placeholder="Montant Remise" #nlib="ngModel" required
                                                               minlength="3" [(ngModel)]="facture.montantRemise" />
                                                        <label for="floatingInput">Discount amount*:</label>
                                                    </div>
                                                    <div class="font-alert text-danger mb-3" *ngIf="nlib.touched&&nlib.invalid">
                                                        <div *ngIf="nlib.hasError('required')">Amount is required</div>
                                                        <div *ngIf="nlib.hasError('minlength')">Min Length is 3</div>
                                                    </div>
                                                    <div class="font-alert text-danger mb-3" *ngIf="ncode.touched&&ncode.invalid">
                                                        <div *ngIf="ncode.hasError('required')">Bill amount is required</div>
                                                    </div>
                                                </form>
                                                </div>
                                            </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal" (click)="reload()">Update Bill</button>
                                        </div>
                                    </div>
                                </div>
                                </div>


                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="card-footer border-top d-flex justify-content-center">
            <button class="btn btn-falcon-default btn-sm me-2" type="button" disabled="disabled"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Prev"><span class="fas fa-chevron-left"></span></button>
            <a
                    class="btn btn-sm btn-falcon-default text-primary me-2" href="#!">1</a><a
                class="btn btn-sm btn-falcon-default me-2" href="#!">2</a><a class="btn btn-sm btn-falcon-default me-2"
                                                                             href="#!"><span
                class="fas fa-ellipsis-h"></span></a><a class="btn btn-sm btn-falcon-default me-2"
                                                        href="#!">35</a>
            <button class="btn btn-falcon-default btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Next"><span class="fas fa-chevron-right"></span></button>
        </div>
    </div>


</div>
