

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container" data-layout="container">
        <script>
            var isFluid = JSON.parse(localStorage.getItem('isFluid'));
            if (isFluid) {
                var container = document.querySelector('[data-layout]');
                container.classList.remove('container');
                container.classList.add('container-fluid');
            }
        </script>
        <div class="row flex-center min-vh-100 py-6">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4"><a class="d-flex flex-center mb-4" href="../../../index.html"><img class="me-2" src="../../../assets/img/icons/spot-illustrations/falcon.png" alt="" width="58" /><span class="font-sans-serif fw-bolder fs-5 d-inline-block">falcon</span></a>
                <div class="card">
                    <div class="card-body p-4 p-sm-5">
                        <div class="row flex-between-center mb-2">
                            <div class="col-auto">
                                <h5>Log in</h5>
                            </div>
                            <div class="col-auto fs--1 text-600"><span class="mb-0 undefined">or</span> <span><a [routerLink]="['/subscribe']">Create an account</a></span></div>
                        </div>

                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="nom">User Name</label>
                                <input type="text" class="form-control" id="nom"
                                       formControlName="nom">
                                <div class="alert alert-danger" *ngIf="loginForm.get('nom').invalid
            && loginForm.get('nom').touched">
                                    <div *ngIf="loginForm.get('nom').errors.required">
                                        User name is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password"
                                       formControlName="password">
                                <div class="alert alert-danger" *ngIf="loginForm.get('password').invalid
            && loginForm.get('password').touched">
                                    <div *ngIf="loginForm.get('password').errors.required">
                                        Password is required
                                    </div>
                                </div>
                            </div>
                            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-success">Login</button>
                            <div class="alert alert-warning" *ngIf="submitted && isLoginFailed">
                                Login failed- {{ errorMessage }}
                            </div>
                        </form>

                        <div class="position-relative mt-4">
                            <hr class="bg-300" />
                            <div class="divider-content-center">or log in with</div>
                        </div>
                        <div class="row g-2 mt-2">
                            <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#"><span class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> google</a></div>
                            <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="#"><span class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> facebook</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->





